# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db

# Visual C++ cache files
_ReSharper.Caches/
.vs/
x64/
x86/
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile

*.log
*.vtuneproj
*.norun
*.vtune

VTune Profiler Results/